<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>插件</title>
    <style>
        /*.aClass {
            color: red;
        }
        .bClass {
            color: blue;
        }
        .cClass {
            font-size: 20px;
        }*/
        /*.xxx-enter-active,.xxx-leave-active{*/
        /*    transition: opacity 1s;*/
        /*}*/
        /*.xxx-enter,.xxx-leave-to {*/
        /*    opacity: 0;*/
        /*}*/
        /*.move-enter-active {*/
        /*    transititon: all 1s*/
        /*}*/
        /*.move-leave-active {*/
        /*    transititon: all 3s*/
        /*}*/
        /*.move-enter,.move-leave-to {*/
        /*    opacity: 0;*/
        /*    transform: translateX(20px);*/
        /*}*/
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>
<!--<div id="app">
    <h2>双大括号表达</h2>
    <p>{{msg}}</p>
    <p>{{msg.toUpperCase()}}</p>
    <p v-text="msg"></p>
    <p v-html="msg"></p>
    <h2>强制数据绑定</h2>
    <img src="imgUrl">
    <img  v-bind:src="imgUrl">
    <img  :src="imgUrl">
    <h2>绑定事件监听</h2>
    <button v-on:click="test">test1</button>
    <button @click="test2('aaa')">test1</button>
</div>
    <script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            msg:'<a href="http://www.baidu.com">百度</a>',
            imgUrl:'https://vuejs.org/images/logo.png'
        },
        methods:{
            test(){
                alert('hehehehe')
            },
            test2(content){
                alert(content)
            }
        }
    })
    </script>-->
<!--<div id="demo">
    姓:<input type="text" placeholder="First Name" v-model="firstName"><br>
    名:<input type="text" placeholder="Last Name" v-model="lastName"><br>
    姓名1（单向）:<input type="text" placeholder="Full Name1" V-model="fullName1"><br>
    姓名2（单向）:<input type="text" placeholder="Full Name2" V-model="fullName2"><br>
    姓名3（双向）:<input type="text" placeholder="Full Name3" V-model="fullName3"><br>
    <p>{{fullName1}}</p>
    <p>{{fullName1}}</p>
    <p>{{fullName1}}</p>
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    const vm =new Vue({
        el:'#demo',
        data:{
            firstName:'A',
            lastName:'B'
        },
        computed:{
            fullName1(){
                console.log('fullName1()')
                return this.firstName + ' ' + this.lastName
            },

            fullName3: {
                get() {
                    return this.firstName + ' ' + this.lastName
                },
                set(value) {
                    const names = value.split(' ')
                    this.firstName = names[0]
                    this.lastName = names[1]
                }
            }
            },
        watch:{
            firstName: function(value){
                console.log(this)
                this.fullName2 = value + ' ' + this.lastName
            }
        }
    })
    vm.$watch('lastName',function(value){
        this.fullName2=this.firstName + ' ' + value
        })
</script>-->
<!--<div id="demo">
<h2>class绑定：:class='xxx'</h2>
    <p class="cClass" :class="a">class绑定是字符串</p>
    <p :class="{aClass:true,bClass:false}">class绑定是对象</p>
    <p :class="{aClass:isA,bClass:isB}">class绑定是对象</p>
    <p :class="['aClass','cClass']">class绑定是数组</p>
<h2>style绑定</h2>
    <p :style="{color:activeColor,fontSize:fontSize +'px'}">style</p>
    <button @click="update">更新</button>
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#demo',
        data: {
            a: 'aClass',
            isA: 'true',
            isB: 'false',
            activeColor: 'red',
            fontSize: 20
        },
        methods:{
            update(){
                this.a='bClass'
                this.isA = false
                this.isB = true
                this.activeColor='green'
                this.fontSize=30
            }
        }
    })
</script>-->
<!--<div id="demo">
    <p v-if="ok">if成功了</p>
    <p v-else>if失败了</p>
    <p v-show="ok">show成功了</p>
    <p v-show="!ok">show失败了</p>

    <button @click="ok=!ok">切换</button>
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#demo',
        data: {
            ok: false
        }
    })
</script>-->
<!--
<div id="demo">
    <h2>v-for遍历数组</h2>
    <ul>
        <li v-for="(p,index) in persons" :key="index">
            {{index}}&#45;&#45;{{p.name}}&#45;&#45;{{p.age}}
            <button @click="deleteP(index)">删除</button>
            <button @click="updateP(index,{name: 'Cat',age: '55'})">更新</button>
        </li>
    </ul>
    <h2>v-for遍历对象</h2>
    <ul>
        <li v-for="(value,key) in persons[1]" :key="key">
            {{value}}&#45;&#45;{{key}}

        </li>

    </ul>
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#demo',
        data: {
            persons:[
                {name:'tom1',age:18},
                {name:'tom2',age:19},
                {name:'tom3',age:20},
                {name:'tom4',age:21},
            ]
        },
        methods:{
            deleteP (index) {
                this.persons.splice(index,1)
                },
            updateP(index, newP){

                this.persons.splice(index,1,newP)
            }
        }
    })
 </script>
-->
<!--<div id="test">
    <input type="text">
    <ul>
        <li v-for="(p,index) in filterPersons" :key="index">
            {{index}}&#45;&#45;{{p.name}}&#45;&#45;{{p.age}}
        </li>
    </ul>

    <button @click="setOrderType(1)">年龄升序</button>
    <button @click="setOrderType(2)">年龄降序</button>
    <button @click="setOrderType(0)">原本顺序</button>

</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#test',
        data: {
            searchName: '',
            orderType: 0,
            persons: [
                {name:'tom1',age:18},
                {name:'Jack',age:19},
                {name:'Bob',age:17},
                {name:'Rose',age:21},
            ],
        },
        computed: {
            filterPersons () {
                //取出相关数据
               const {searchName,persons,orderType} = this
                //最终需要显示的数组
                let fPersons;
               //对persons进行过滤
                fPersons = persons.filter(p=>p.name.indexOf(searchName)!==-1)
                //排序
                if(orderType!==0){
                    fPersons.sort(function(p1,p2){
                        if(orderType==2){
                            return p2.age-p1.age
                        }else{
                            return p1.age-p2.age
                        }
                    })
                }

                return fPersons
            }
        },
        methods: {
            setOrderType(orderType) {
                this.orderType = orderType
            }
        }

    })
</script>-->
<!--<div id="example">
    <h2>绑定监听</h2>
    <button @click="test1">test1</button>
    <button @click="test2('test22')">test2</button>
    <button @click="test3($event)">test3</button>
    <button @click="test4(123,$event)">test4</button>
    <h2>事件修饰符
        <div style="width: 200px;height:200px;background: indianred" @click="test5">
            <div style="width: 100px;height:100px;background: yellowgreen" @click.stop="test6">事件冒泡
            </div>
        </div>
        <a href="http://www.baidu.com" @click.prevent="test7">百度</a>
    <h2>按键修饰符</h2>
        <input tyoe="text" @keyup.enter="test8">
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#example',
        data: {
            test1 (){
                alert('test1')
            },
            test2 (msg){
                alert(msg)
            },
            test3 (event){
                alert(event.target.innerHTML)
            },
            test4(number,event){
                alert(number + '-&#45;&#45;' + event.target.innerHTML)
            },
            test5(){
                alert('out')
            },
            test6(){
                //event.stopPropagation()
                alert('inner')
            },
            test7(){
                //event.preventDefault()
                alert('已点击')
            },
            test8(event){
                alert(event.target.value + ' ' + event.keyCode)
            }


        }


    })
</script>-->
<!--<div id="demo">
    <form action="/xxx" @submit.prevent="handleSubmit">
        <span>用户名：</span>
        <input type="text" v-model="username"><br>
        <span>密码：</span>
        <input type="password" v-model="pwd"><br>
        <span>性别：</span>
        <input type="radio" id="female" value="女" v-model="sex">
        <label for="female">女</label>
        <input type="radio" id="male" value="男" v-model="sex">
        <label for="male">男</label><br>
        <span>爱好：</span>
        <input type="checkbox" id="basket" value="basket" v-model="likes">
        <label for="basket">篮球</label>
        <input type="checkbox" id="foot" value="foot" v-model="likes">
        <label for="foot">足球</label>
        <input type="checkbox" id="vbal" value="vbal" v-model="likes">
        <label for="vbal">排球</label><br>
        <span>城市：</span>
        <select v-model="cityId">
            <option value="">未选择</option>
            <option :value="city.id" v-for="(city,index) in allCitys" :key="index">{{city.name}}</option>
        </select><br>
        <span>介绍：</span>
        <textarea row="10" v-model="desc"></textarea><br><br>
        <input type="submit" value="注册">
    </form>
</div>

<script type="text/javascript" src="./js/vue.js"></script>
<script>
    new Vue({
        el:'#demo',
        data: {
            username: '',
            pwd: '',
            sex: '男',
            likes: ['foot'],
            allCitys: [
                {id:1,name:'BJ'},
                {id:2,name:'SH'},
                {id:3,name:'GX'},
            ],
            cityId: '3',
            desc: ' '
        },
        methods: {
            handleSubmit () {
                console.log(this.username,this.pwd,this.sex)
            }
        }
    })

</script>-->
<!--<div id="test">
    <button @click="destroyVM">vm</button>
    <p v-show="isShow">vue生命周期练习</p>
    <p>{{isShow}}</p>
    <p>{{isShow}}</p>
    <p>{{isShow}}</p>
    <p>{{isShow}}</p>

</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#test',
        data: {
            isShow: true
        },
        beforeCreate(){
            cnsole.log('beforeCreate()')
        },
        created(){
            cnsole.log('created()')
        },
        mounted(){
            this.intervalId=setInterval(() => {
                console.log('&#45;&#45;&#45;&#45;&#45;&#45;')
                this.isShow = !this.isShow
            },1000)
        },
        beforeUpdate(){
            cnsole.log('beforeUpdate()')
        },
        update(){
            cnsole.log('update()')
        },
        beforeDestroy(){
            cnsole.log('beforeDestroy()')
            clearInterval(this.intervalId)
        },
        destroy(){
            cnsole.log('destroy()')
        },

        methods: {
            destroyVM (){
                this.$destroy()
            }
        }
    })
</script>-->
<!--<div id="test1">
    <button @click="isShow=!isShow">toggle</button>
    <transition name="xxx">
        <p v-show="isShow">hello</p>
    </transition>
</div>
<div id="test2">
    <button @click="isShow=!isShow">toggle</button>
    <transition name="move">
        <p v-show="isShow">hello</p>
    </transition>
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#test1',
        data (){
            return {
                isShow: true
            }
        }
    })
    new Vue({
        el: '#test2',
        data (){
            return {
                isShow: true
            }
        }
    })
</script>-->
<!--<div id="test">
    <h2>显示格式化的日期时间</h2>
    <p>{{date}}</p>
    <p>完整版：{{date | dateString}}</p>
    <p>年月日：{{date | dateString('YYYY-MM-DD')}}</p>
    <p>时分秒：{{date | dateString('HH:mm:ss')}}</p>
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/moment.js/2.24.0/moment.js"></script>
<script type="text/javascript">
    Vue.filter('dateString',function(value,format){
        return moment(value).format(format|| 'YYYY-MM-DD HH:mm:ss')
    })
    new Vue({
        el: '#test',
        data: {
           date: new Date()
        }
    })
</script>-->
<!--<div id="example">
    <p>baidu.com</p>
    <button @click="hint">提示</button>
    <p v-cloak>{{msg}}</p>
</div>
<div id="test1">
    <p v-upper-text="msg1"></p>
    <p v-lower-text="msg1"></p>
</div>
<div id="test2">
    <p v-upper-text="msg2"></p>
    <p v-lower-text="msg2"></p>
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    Vue.dir
    new Vue({
        el: '#example',
        data: {
            msg: '百度'
        },
        methods: {
            hint (){
                alert(this.$refs.content.textContent)
            }
        }

    })
    new Vue({
        el: '#test1',
        data: {
            msg1: 'baidubaidu'
        }
    })
    ew Vue({
        el: '#test2',
        data: {
            msg1: 'wangyiwangyi'
        }
    })
</script>-->
<div id="test">
    <p v-my-directive="msg"></p>
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="vue-myPlugin.js"></script>
<script type="text/javascript">
//声明使用插件
    Vue.use(MyPlugin)
    Vue.myGlobalMethod()
    const vm =new Vue({
        el: '#test',
        data: {
            msg:'想见你'
    }
})
    vm.$myMethod()
</script>
</body>
</html>