<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div id="app">
    <h2>双大括号表达</h2>
    <p>{{msg}}</p>
    <p>{{msg.toUpperCase()}}</p>
    <p v-text="msg"></p>
    <p v-html="msg"></p>
    <h2>强制数据绑定</h2>
    <img src="imgUrl">
    <img  v-bind:src="imgUrl">
    <img  :src="imgUrl">
    <h2>绑定事件监听</h2>
    <button v-on:click="test">test1</button>
    <button @click="test2('aaa')">test1</button>
</div>
    <script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            msg:'<a href="http://www.baidu.com">百度</a>',
            imgUrl:'https://vuejs.org/images/logo.png'
        },
        methods:{
            test(){
                alert('hehehehe')
            },
            test2(content){
                alert(content)
            }
        }
    })
    </script>-->
<div id="demo">
    姓:<input type="text" placeholder="First Name" v-model="firstName"><br>
    名:<input type="text" placeholder="Last Name" v-model="lastName"><br>
    姓名1（单向）:<input type="text" placeholder="Full Name1" V-model="fullName1"><br>
    姓名2（单向）:<input type="text" placeholder="Full Name2" V-model="fullName2"><br>
    姓名3（双向）:<input type="text" placeholder="Full Name3" V-model="fullName3"><br>
    <p>{{fullName1}}</p>
    <p>{{fullName1}}</p>
    <p>{{fullName1}}</p>
</div>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript">
    const vm =new Vue({
        el:'#demo',
        data:{
            firstName:'A',
            lastName:'B'
        },
        computed:{
            fullName1(){
                console.log('fullName1()')
                return this.firstName + ' ' + this.lastName
            },

            fullName3: {
                get() {
                    return this.firstName + ' ' + this.lastName
                },
                set(value) {
                    const names = value.split(' ')
                    this.firstName = names[0]
                    this.lastName = names[1]
                }
            }
            },
        watch:{
            firstName: function(value){
                console.log(this)
                this.fullName2 = value + ' ' + this.lastName
            }
        }
    })
    vm.$watch('lastName',function(value){
        this.fullName2=this.firstName + ' ' + value
        })
</script>
</body>
</html>